<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lifengdi.job.mapper.IRequestParamMapper">
  <resultMap id="BaseResultMap" type="com.lifengdi.job.entity.RequestParam">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="job_type_id" jdbcType="VARCHAR" property="jobTypeId" />
    <result column="param_name" jdbcType="VARCHAR" property="paramName" />
    <result column="param_title" jdbcType="VARCHAR" property="paramTitle" />
    <result column="param_type" jdbcType="INTEGER" property="paramType" />
    <result column="param_value" jdbcType="VARCHAR" property="paramDefaultValue" />
    <result column="param_format" jdbcType="VARCHAR" property="paramFormat" />
    <result column="required" jdbcType="INTEGER" property="required" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_user_id" jdbcType="VARCHAR" property="createdUserId" />
    <result column="created_user_name" jdbcType="VARCHAR" property="createdUserName" />
    <result column="created_user_phone" jdbcType="VARCHAR" property="createdUserPhone" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="updated_user_id" jdbcType="VARCHAR" property="updatedUserId" />
    <result column="updated_user_name" jdbcType="VARCHAR" property="updatedUserName" />
    <result column="updated_user_phone" jdbcType="VARCHAR" property="updatedUserPhone" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, obj_id, obj_type, param_name, param_title, param_type, param_value, param_format,
    required, created_time, created_user_id, created_user_name, created_user_phone, updated_time,
    updated_user_id, updated_user_name, updated_user_phone, status, deleted
  </sql>
  <insert id="insertOrUpdateSelective" parameterType="com.lifengdi.job.entity.RequestParam">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_request_param
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="objId != null">
        obj_id,
      </if>
      <if test="objType != null">
        obj_type,
      </if>
      <if test="paramName != null">
        param_name,
      </if>
      <if test="paramTitle != null">
        param_title,
      </if>
      <if test="paramType != null">
        param_type,
      </if>
      <if test="paramValue != null">
        param_value,
      </if>
      <if test="paramFormat != null">
        param_format,
      </if>
      <if test="required != null">
        required,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="createdUserId != null">
        created_user_id,
      </if>
      <if test="createdUserName != null">
        created_user_name,
      </if>
      <if test="createdUserPhone != null">
        created_user_phone,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="updatedUserId != null">
        updated_user_id,
      </if>
      <if test="updatedUserName != null">
        updated_user_name,
      </if>
      <if test="updatedUserPhone != null">
        updated_user_phone,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="objId != null">
        #{objId,jdbcType=VARCHAR},
      </if>
      <if test="objType != null">
        #{objType,jdbcType=INTEGER},
      </if>
      <if test="paramName != null">
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramTitle != null">
        #{paramTitle,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null">
        #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null">
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramFormat != null">
        #{paramFormat,jdbcType=VARCHAR},
      </if>
      <if test="required != null">
        #{required,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null">
        #{createdUserId,jdbcType=VARCHAR},
      </if>
      <if test="createdUserName != null">
        #{createdUserName,jdbcType=VARCHAR},
      </if>
      <if test="createdUserPhone != null">
        #{createdUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUserId != null">
        #{updatedUserId,jdbcType=VARCHAR},
      </if>
      <if test="updatedUserName != null">
        #{updatedUserName,jdbcType=VARCHAR},
      </if>
      <if test="updatedUserPhone != null">
        #{updatedUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
    ON DUPLICATE KEY UPDATE
    <trim suffixOverrides=",">
      <if test="paramTitle != null">
        param_title = #{paramTitle,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null">
        param_type = #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null">
        param_value = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramFormat != null">
        param_format = #{paramFormat,jdbcType=VARCHAR},
      </if>
      <if test="required != null">
        required = #{required,jdbcType=INTEGER},
      </if>
      <if test="updatedUserId != null">
        updated_user_id = #{updatedUserId,jdbcType=VARCHAR},
      </if>
      <if test="updatedUserName != null">
        updated_user_name = #{updatedUserName,jdbcType=VARCHAR},
      </if>
      <if test="updatedUserPhone != null">
        updated_user_phone = #{updatedUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>